$primaryColor: #2bd17e;
$errorColor: #eb5757;
$bgColor: #093545;
$inputColor: #224957;
$cardColor: #092c39;

// Borders and fonts
$themeRadius: 12px;

// Mobile responsive
$md: 991px;
$sm: 767px;
$xs: 576px;
